<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isDefault</key>
		<true/>
		<key>uri</key>
		<string>pyrex-node.tokl.io:6870</string>
	</dict>
	<dict>
		<key>uri</key>
		<string>node1.pyrexcoin.com:6870</string>
	</dict>
	<dict>
		<key>uri</key>
		<string>node2.pyrexcoin.com:6870</string>
	</dict>
	<dict>
		<key>uri</key>
		<string>node3.pyrexcoin.com:6870</string>
	</dict>
	<dict>
		<key>uri</key>
		<string>ushouldrunyourownnode.pyrexcoin.com:6870</string>
	</dict>
</array>
</plist>
